html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#mainWindow {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 197, 157);
    min-height: 0;
}

#contentRow {
    flex: 1 1 auto;
    min-height: 0;
}

#leftColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

#middleColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

#additionalSettings {
    padding: 0px;
    margin: 0;
}

#riverSettingsFrame {
    border-color: rgb(188, 188, 204);
    border-width: 2px;
    border-style: solid;
    overflow-y: auto;
    height: 320px;
}

#renderPreview {
    flex: 0 0 auto;
}

#activeListFrame, #allListFrame {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

#activeListScroll, #allListScroll {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
}


.layer-stick-name, .layer-expand-btn {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.tool-tip-label {
    float: right;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(240, 229, 218);
    color: black;
    font-size: 14px;
    font-weight: bold;
}


/* 
Extra large column settings since xl is slightly too cramped for current layout
I don't know how to install bootstrap into this environment, which would let me do this in a more standard way
Therefore, shenanigans:
*/
@media (min-width: 1400px) {
  .row > .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row > .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row > .order-xxl-1 { order: 1; }
  .row > .order-xxl-2 { order: 2; }
  .row > .order-xxl-3 { order: 3; }
}