<html>
    <head>
        {% load static %}
        {% load bootstrap4 %}
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
                }
            }
        </script>
        <link rel="stylesheet" href="{% static 'terrain.css' %}">
        <script type="module" src="{% static 'terrain.js' %}"></script>
        {% include "bootstrap.html" %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include "navigation.html" %}
        <div id="mainWindow" class="container-fluid flex-grow-1">
            <div class="row g-0">
                <div id="leftColumn" class="col-sm-3 d-flex flex-column h-100">
                    <canvas id="renderPreview"></canvas>
                    <div id="activeListFrame" class="d-flex flex-column h-100">
                        <div class="p-3 bg-light">Active Layers</div>
                        <div class="flex-grow-1 overflow-auto">
                            <ul id="activeList" class="list-group">
                                <li class="list-group-item dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Layer name here
                                    </button>
                                    <div class="dropdown-menu">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {% bootstrap_form input_layer_form %}
                                        </form>
                                    </div>
                                </li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                                <li class="list-group-item">hi</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="inactiveListFrame" class="col-sm-3 vh-100 d-flex flex-column">
                    <div class="p-3 bg-light">In-active Layers</div>
                    <div class="flex-grow-1 overflow-auto">
                        <ul id="inactiveList" class="list-group">
                            <li class="list-group-item">very real in-active input form</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>