<!doctype html>
<html>
    <head>
        {% load static %}
        {% load bootstrap4 %}

        <!-- This probably too many cdn imports but I don't really know how to install them locally -->
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.184.0/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.184.0/examples/jsm/",
                    "three-mesh-bvh": "https://unpkg.com/three-mesh-bvh@0.9.9/src/index.js",
                    "simplex-noise": "https://cdn.jsdelivr.net/npm/simplex-noise@4.0.1/+esm",
                    "alea": "https://cdn.jsdelivr.net/npm/alea@1.0.1/+esm",
                    "priority-queue": "https://esm.sh/@datastructures-js/priority-queue@6.3.5",
                    "denque": "https://esm.sh/denque"
                }
            }
        </script>
        <link rel="stylesheet" href="{% static 'app1/terrain.css' %}">
        <script type="module" src="{% static 'app1/js/home_page/main.js' %}"></script>

        {% include "bootstrap.html" %}
    </head>
    <body onload="load_user_controls()">
        <div id="mainWindow" class="container-fluid">
            {% include "navigation.html" %}
            <div id="contentRow" class="row">
                <div id="leftColumn" class="col-xxl-3 col-sm-6 col-12 order-2 order-xxl-1 d-flex flex-column">
                    <div id="activeListFrame" class="d-flex flex-column">
                        <div class="p-1 border border-primary bg-light rounded-top d-flex align-items-center">
                            <h2 class="mb-0">Active Layers</h2>
                            <form id="newInputLayerForm" class="m-0 ml-auto">
                                {% csrf_token %}
                                <button id="newInputLayerButton" type="submit" class="btn btn-primary">
                                    New Input Layer
                                </button>
                            </form>
                        </div>
                        <div id="activeListScroll" class="overflow-auto">
                            <div id="activeList" class="flex-grow-1 accordion">
                                {% for layer_data in layer_forms %}
                                     {% if layer_data.is_active %}
                                        {% include "layercard.html" with layer=layer_data.layer input_layer_form=layer_data.input_layer_form %}
                                     {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="middleColumn" class="col-xxl-6 col-sm-12 col-12 order-1 order-xxl-2 d-flex flex-column">
                    <div id="renderWindowFrame" class="">
                        <div class="bg-light row m-0">
                            <button id="renderButton" class="col-sm-3 btn btn-primary active btn-lg">
                                RENDER
                            </button>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="ml-4 xcol-sm-2">
                                        <div class="font-weight-bold">Rotate</div>
                                        <div class="row ml-1 mb-2">
                                            <kbd class="">←</kbd>
                                            <kbd class="">→</kbd>
                                            <div class="font-weight-bold">|</div>
                                            <kbd>2</kbd>
                                            <kbd>3</kbd>
                                        </div>
                                    </div>
                                    <div class="ml-4 xcol-sm-3">
                                        <div class="font-weight-bold">Move</div>
                                        <div class="row ml-0 mb-2">
                                            <kbd class="">w</kbd>
                                            <kbd class="">a</kbd>
                                            <kbd class="">s</kbd>
                                            <kbd class="">d</kbd>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <div class="font-weight-bold">Up/Down</div>
                                        <div class="row ml-0 mb-2">
                                            <kbd>e</kbd>
                                            <kbd>q</kbd>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="exportButton" class="col-sm-2 btn btn-secondary">
                                EXPORT
                            </button>
                        </div>
                    </div>
                    <div id="additionalSettings" class="jumbotron min-height-0 flex-grow-1 mt-4 row">
                        <div id="riverSettingsFrame" class="bg-light col-sm-6 p-3">
                            <h2 class="display-5">River Settings</h2>
                            <form id="riverSettingsForm" class="">
                                {% csrf_token %}
                                {% include "formfields/slider_with_tooltip.html" with field=river_settings_form.max_width %}
                                {% include "formfields/slider_with_tooltip.html" with field=river_settings_form.river_threshold %}
                                {% include "formfields/slider_with_tooltip.html" with field=river_settings_form.river_threshold_end %}
                                {% include "formfields/slider_with_tooltip.html" with field=river_settings_form.width_beta %}
                            </form>
                        </div>
                        <div id="featureSettingsFrame" class="bg-light col-sm-6 p-3">
                            <h2 class="display-5">Feature Settings</h2>
                            <form id="featureSettingsForm" class="">
                                {% csrf_token %}
                                {% include "formfields/textbox_with_tooltip.html" with field=feature_settings_form.seed %}
                                {% include "formfields/toggle_with_tooltip.html" with field=feature_settings_form.has_erosion %}
                                {% include "formfields/toggle_with_tooltip.html" with field=feature_settings_form.has_water %}
                                {% include "formfields/toggle_with_tooltip.html" with field=feature_settings_form.has_rivers %}
                            </form>
                        </div>
                    </div>
                </div>
                <div id="allListFrame" class="col-xxl-3 col-sm-6 col-12 order-3 order-xxl-3 d-flex flex-column">
                    <div class="bg-light">
                        <h2 class="m-2 p-0">All Layers</h2>
                        <div id="allListScroll" class="overflow-auto">
                            <div id="allList" class="flex-grow-1 accordion">
                                {% for layer_data in layer_forms %}
                                    {% include "layerstick.html" with layer=layer_data.layer is_active=layer_data.is_active %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
