<!doctype html>
<html>
    <head>
        {% load static %}
        {% load bootstrap4 %}
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
                }
            }
        </script>
        <link rel="stylesheet" href="{% static 'terrain.css' %}">
        <script type="module" src="{% static 'terrain.js' %}"></script>
        {% include "bootstrap.html" %}
    </head>
    <body>
        <div id="mainWindow" class="container-fluid">
            <div class="row g-0">
                <div class="col-12">
                    {% include "navigation.html" %}
                </div>
            </div>
            <div id="contentRow" class="row">
                <div id="leftColumn" class="col-sm-3 d-flex flex-column">
                    <canvas id="renderPreview" class=""></canvas>
                    <div id="activeListFrame" class="d-flex flex-column">
                        <div class="p-1 border border-primary bg-light rounded-top d-flex align-items-center">
                            <h3 class="mb-0">Active Layers</h3>
                            <form id="newInputLayerForm" class="m-0 ml-auto">
                                {% csrf_token %}
                                <button id="newInputLayerButton" type="submit" class="btn btn-primary">
                                    New Input Layer
                                </button>
                            </form>
                        </div>
                        <div id="activeListScroll" class="overflow-auto">
                            <div id="activeList" class="flex-grow-1 accordion">
                                {% for layer_data in layer_forms %}
                                     {% if layer_data.is_active %}
                                        {% include "layercard.html" with layer=layer_data.layer input_layer_form=layer_data.input_layer_form %}
                                     {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="middleColumn" class="col-sm-6 d-flex flex-column">
                    <div id="renderWindowFrame">
                        <button>
                            
                        </button>
                    </div>
                    <div class="jumbotron">

                    </div>
                </div>
                <div id="allListFrame" class="col-sm-3 d-flex flex-column">
                    <div class="p-1 border border-primary rounded-top bg-light d-flex">
                        <h3>All Layers</h3>
                    </div>
                    <div id="allListScroll" class="overflow-auto">
                        <div id="allList" class="flex-grow-1 accordion">
                            {% for layer_data in layer_forms %}
                                {% include "layerstick.html" with layer=layer_data.layer is_active=layer_data.is_active %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>