{% load bootstrap4 %}
<div id="layer-card-{{layer.id}}" class="card">
    <div class="card-header d-flex row">
        <button class="delete-layer-btn col-sm-1 btn btn-outline-danger" data-layer-id="{{ layer.id }}">D</button>
        <button class="btn btn-secondary flex-grow-1" type="button" data-toggle="collapse" data-target="#collapse-{{ layer.id }}">
            {{ layer.name }}
        </button>
        <button class="move-to-inactive-btn col-sm-2 btn btn-outline-secondary" data-layer-id="{{ layer.id }}">R</button>
    </div>
    <div id="collapse-{{ layer.id }}" class="collapse show">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form input_layer_form %}
            </form>
        </div>
    </div>
</div>